.scroll-top {
  position: fixed;
  z-index: 100;
  bottom: 5%;
  right: 5%;
  width: 4rem;
  height: 4rem;
  padding: 0;
  opacity: 1;
  transition: opacity 0.3s;
}
.invisible-bar {
  opacity: 0;
  pointer-events: none;
}
.sign-up-button.scroll-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  padding: 0rem;
  font-size: 2rem;
  box-shadow: 0 8px 8px var(--item-shadow);
  position: relative;

  &:active {
    box-shadow: 2px 100rem 1px var(--background) inset;
    opacity: 0.7;
  }
}
