.like {
  margin: 5rem 0;
}
.like__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.like__content {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-color2);
  gap: 2rem;
  padding: 3rem;
  border-radius: 2rem;
}
.like__title {
  color: var(--accent-color1);
}
.like__description {
  color: var(--accent-color3);
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 200px) and (max-width: 500px) {
  .like__container {
    grid-template-columns: 1fr;
  }
}
