.signup {
  padding-top: 3rem;
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.signup-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2.5rem;
}
.signup__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 3rem;
  z-index: 5;
}
.signup__sub-tittle {
  color: var(--pink);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.signup__title {
  color: var(--accent-color1);
  font-size: 3rem;
  font-weight: bold;
  padding-top: 2rem;
}
.signup__description {
  color: var(--accent-color3);
  font-size: 1.5rem;
  font-weight: 300;
}
.sign-up-button {
  color: var(--accent-color1);
  background-color: var(--background);
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 2rem;
  transition: box-shadow 0.2s ease-in-out;
  border: solid 0.3px transparent;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(100deg, var(--pink), var(--orange));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 100rem 1px var(--background) inset;
  &:hover {
    box-shadow: none;
  }
}
.signup__image-container {
  text-align: center;
  position: relative;
  z-index: 4;
}
.signup__ellipse {
  z-index: -1;
  position: absolute;
  width: 25rem;
  height: 25rem;
  filter: blur(100px);
}
.signup__ellipse--pink {
  background-color: var(--pink);
  top: 40%;
  right: 40%;
}
.signup__ellipse--orange {
  background-color: var(--orange);
  bottom: 40%;
  right: 40%;
}
@media screen and (min-width: 200px) and (max-width: 800px) {
  .signup {
    padding: 1rem;
    position: relative;
    overflow-x: hidden;
  }
  .signup-container {
    font-size: 1.6rem;
    align-items: center;
  }
  .signup__sub-tittle {
    font-size: 2rem;
  }
  .signup__title {
    font-size: 3rem;
  }
  .signup__description {
    font-size: 2rem;
  }
  .signup__img {
    img {
      height: 20rem;
    }
  }
  .signup__ellipse {
    width: 10rem;
    height: 10rem;
    filter: blur(40px);
  }
}
