@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');
@import './scss/index.scss';
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
// img {
//   width: 100%;
// }
html {
  font-size: 62.5%;
}
body,
input,
button,
a {
  font-family: 'Inter', sans-serif;
}
